{% extends "auctions/layout.html" %}

{% block body %}
    {% if is_category %}
        <h2>{{ is_category|title }}</h2>
    {% elif is_watchlist %}
        <h2>Watchlist</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    {% for listing in listings %}
        <div>
            <h2><a href="{% url 'listings' listing.id %}">{{ listing.title }}</a></h2>
            <p>{{ listing.description }}</p>
            <p>Price: ${{ listing.starting_bid }}</p>
            <p>Image: {{ listing.img_url }}</p>
            <p>Seller: {{ listing.seller_username }}</p>
            <p>Category: {{ listing.category_id }}</p>
        </div>
        <br>
    {% endfor %}
{% endblock %}