{% extends "auctions/layout.html" %}

{% block body %}

    {# TODO: Add message for error and successes #}

    <h2>{{ listing.title }}</h2>

    {% if current_winner %}
        <h3>Congratulations {{ current_winner }}! You won the auction</h3>
    {% endif %}
    
    {% if watchlist_form %}
        <form action="{% url 'watchlist_action' listing.id %}" method="post">
            {% csrf_token %}
            {{ watchlist_form }}
            <button type="submit" name="submit">{{ watchlist_text}}</button>
        </form>
    {% endif %}

    {% if close_listing_form and listing.is_active == True %}
        <form action="{% url 'close_listing' listing.id %}" method="post">
            {% csrf_token %}
            {{ close_listing_form }}
            <button type="submit" name="submit">Close Listing</button>
        </form>
    {% endif %}

    <p>{{ listing.description }}</p>
    {% if listing.img_url %}
        <img href="{{ listing.img_url }}" alt="{{ listing.title }}">
    {% endif %}
    <p>Price: ${{ listing.starting_bid }}</p>
    <p>Seller: {{ listing.seller_username }}</p>
    {% if listing.category_id %}
        <p>Category: {{ listing.category_id }}</p>
    {% endif %}
    <br>

    {{ message }}
    
    <br>

    {% if is_authenticated and request.user.username != listing.seller_username%}
        <form action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}
            {{ bidding_form }}
            <button type="submit" name="submit">Bid</button>
        </form>    
    {% endif %}

    <br>

    {% if comment_form %}
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <button type="submit" name="submit">Comment</button>
        </form>
    {% endif %}

    {% if comments %}
        {% for comment in comments %}
            <br>
            <div>
                <p>{{ comment.comment_text }}</p>
                <p>By {{ comment.commenter_username }}</p>
            </div>
        {% endfor %}    
    {% endif %}
    
{% endblock %}